
/*General*/
body {
	font-family: "Raleway", "Sans serif";
	margin :auto;
	}

  a {
	text-decoration:none;
	color: inherit;
}


a:-webkit-any-link {
	cursor: pointer;
}

a:hover {
	transform: scale(1.05);
}


header, nav, section, article, aside, footer {
	display: flex;
	flex-wrap: wrap;
}

  main{
	box-sizing: border-box;
}
	
a:-webkit-any-link {
	cursor: pointer;
}



h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}


p {
	font-size: 14px;
}		

/*Header style*/
.headermenu {
	display: flex;
	justify-content: space-between;
	width : 100%;
}

.Imglogo {
	height: 50px;	
}	

.logo{
	display: flex;
	padding-top : 30px ;
	padding-left : 40px;
}

nav ul {
	display: flex;
	justify-content: space-between;
	margin : 0;
}

.nav_menu {
	list-style: none;
	border-top:transparent solid 3px ;
	padding : 30px; 
}

nav li:hover
{	color: #0065FC;
	border-top: #0065FC solid 3px ;
	padding:30px; 
}

 /* Format mobile 768px */
 @media screen and (max-width: 767px) {
.logo {
	justify-content: center;
	order:0;
}
.headermenu {
	flex-direction: column;
}

nav ul {
	justify-content: center;
	width: 100%;
	padding: 0;
}
.nav_menu {
	width: 100%;
	text-align: center;
	border-bottom: #F2F2F2 solid 3px ;
	width: 50% ;
	padding : 30px; 
}

nav li:hover{
	border-top : none ;
	color: #0065FC;
	border-bottom: #0065FC solid 3px ;
}
}


/* main*/

/* section research*/

.blockresearch{
	display: flex;
	flex-direction: column;
	margin: auto;
}	

.big_title{
	margin-top: 60px;
	margin-left : 10px ;
}

.intro {
	margin-left : 10px ;
}



/* form*/
form {
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
	position: relative;
	border: 1px solid #f2f2f2;
	border-radius: 15px;
	height: 50px ;
	width: 400px;
	margin-left : 10px ;
}

.fa-solid{
	background-color: #F2F2F2;
	padding: 16px 20px;
	box-sizing: border-box;
	text-align: center;
}


form [type=text]{ 
	font-weight: bolder;
    padding-left: 15px;
    width: 100%;
    border: none;
	outline:none;
}

.form_btn {
	background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    right: 0;
    font-size: 16px;
    cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100px ;
}

	/* filter*/

.research {
	display: flex;
	margin: 30px 0 0 10px;
	align-items: baseline;
}

.allfilter {
	display: flex;
	flex-wrap: wrap ;
}

.titlefilter {
	margin: 0 32px 16px 0;
	display: flex;
}

.filter {
	display: flex;
	align-items: center;
    margin-right: 32px;
    border: 2px solid #d9d9d9;
    border-radius: 32px;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: bold;
}

.filter:hover{
	transform: scale(1.05);
	color :#0065FC;
}

.icon {
	background-color: #DEEBFF;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}	

.SearchIcon {
    color: #0065FC;
}

.eco{
	margin: 0 16px;	
	font-size: 16px;
}

.I {
	color: #0065FC;
}

.info {
	display: flex;
    align-items: center;
    margin: 0 0 20px 10px;
}

.Iconinfo{
	height: 32px;
    width: 32px;
    min-height: 32px;
    min-width: 32px;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

/* Format mobile 768px */
@media screen and (max-width: 767px) {
.research {
	flex-direction: column;
	align-items: flex-start;
}

.big_title{
	margin-left : 20px;
}

.intro {
	margin-left : 20px;	
}

form {
	width: 350px;
	margin-left : 20px;	
}

.titlefilter{
	margin-left : 10px;	
}

.allfilter{
	margin-left : 10px;	
}


.form_btn {
	display: none;
}

.glassIcon {
	background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    right: 0;
    font-size: 16px;
    cursor: pointer;
	position: absolute;
	height: 100%;
	min-width: 50px ;
	font-weight: 900;
}

.info {
	margin-left: 20px;
}
}




/*hebergements*/


.Global{
	display: flex;
	flex-direction: row;	
	gap : 50px;
}	

/*Hosting*/

.Hostingcontain{
	display: flex;
	background-color: #F2F2F2;
	flex-direction: column;
	width: 65%;
	border-radius: 15px;
}

.BigTitleHosting{
	padding-top : 30px;
	margin-left: 50px;
}

.CardGlobalHosting {
	display: flex;	
	flex-direction: row;		
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top : 10px ;
	align-items: stretch;
	row-gap : 30px;
}	

.CardHosting {
	display: flex;
	background-color: white;	
	padding : 6px;
	border-radius: 15px ;
	flex-direction : column ;
	box-shadow: 0 0 16px #0000002e;
	transition: 400ms;
	width : 28%;	
	}

	
 .ImageHosting{
	display: flex;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	width: 100%;
   	margin : 0;
	height: 150px;
	max-height : 150px;
}

.HostingTitle{
	padding-top : 10px ;
	padding-left : 6px; 
	margin : 0;
	padding-bottom : 5px;
}	

.HostingDescription{
	padding-left : 6px;
	padding-bottom : 5px;
	margin : 0;
}

.HostingStar{
	padding-left : 6px;
}

.HostingStarIcon[data-active=true] {
    color: #0065FC;
	padding-bottom : 10px;
	font-size: 12px;
}

.HostingStarIcon[data-active=false] {
    color: #d9d9d9;
	font-size: 12px;
}

.plus{
	font-weight: bold;
	margin-top : 30px ;
	padding-bottom : 30px;
	font-size:18px;
	margin-left : 50px ;
	}
.plus:hover{
	transform: none;
}
	


/*popular*/

.popular{
	display: flex;
	background-color: #F2F2F2;
	border-radius: 15px ;
	flex-direction: column;	
	width: 33%;										
}
.BigtitlePopular{
	justify-content: space-between;
	padding-top : 30px;
	margin-left : 55px;
	padding-right: 45px;
	display: flex;
}

			
.CardGlobalPopular {			
	display: flex;			
	border-radius: 15px ;
	padding:10px 50px 50px 50px;
	gap : 30px;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
	align-items: stretch;
}
			

.Cardpopular {
	display: flex;
	background-color: white;	
	padding : 6px;
	border-radius: 15px ;
	box-sizing: border-box;
	box-shadow: 0 0 16px #0000002e;
	transition: 400ms;
	flex-direction: row;
	height: 160px;
	width: 100%;
}

.ImagePopular {
	border-radius: 15px 0 0 15px ; 
	width: 35%;
	min-width: 35%;
	height: 100%;
	object-fit: cover;
}

.ContentPopular	{
	display: flex;
    flex-direction: column;
	padding: 10px 15px 5px 15px ;
}


.PopularTitle{
	margin: 5px 0;
	font-weight: bold;
}	

.PopularDescription{
	display: flex;
	margin: 5px 0;
	flex: 2;
}

.HostingStar2{
	display: flex;
	}


/* Format mobile 768px */
@media screen and (max-width: 767px) {

.Global{
	flex-direction: column-reverse;
}	

.popular{
	width: 100%;
}

.BigtitlePopular{
	margin-left : 20px;
	padding-right: 20px;
}	


.CardGlobalPopular{
	padding-top :20px ;
	padding-left : 20px ;
	padding-right: 20px;
	gap : 20px;
	justify-content: center;
}

.BigTitleHosting{
	margin-left : 20px ;
	padding-top: 0;
}

.Hostingcontain{
	background-color: white;
	margin: auto;
	width: 100%;
}

.CardGlobalHosting {
	padding-right : 20px;
	padding-left : 20px;
	gap : 20px;
}

.CardHosting {
	width : 100% ;
	margin : 0 ;
	padding: 0;
}


.plus	{
	margin-bottom : 20px;
	margin-left : 20px;
}
h3{
	font-size: 14px;
}
p{
	font-size: 14px;
}
}

/* Format tablette 992px */
@media all and (min-width : 768px) and (max-width: 991px)
 {

.Global{
	flex-direction: column-reverse;
	width: 100%;
}	

.popular{
	width:100% ;
}
.BigtitlePopular{
	margin-left : 20px;
	padding-right: 20px;
}	

.CardGlobalPopular{
	padding-top :20px ;
	padding-left : 20px ;
	padding-right: 20px;
	gap : 20px;
	justify-content: center;
}

.CardGlobalHosting {
	justify-content: space-between;
	padding-right : 20px;
	padding-left : 20px;
}	
		
	
.BigTitleHosting{
	margin-left : 20px ;
	padding-top: 0;
}	




#Hosting{
	width: 100%;
			}

.Hostingcontain{
	background-color: white;
	margin: auto;
}


.plus	{
	margin-bottom : 20px;
	margin-left : 20px;
}
}
	


/*activites*/

.activitycontain{
	display: flex;
	background-color: white;
	flex-direction: column;
	}

	
.BigTitleActivity{
	margin : 60px 0 20px 0;	
			}	
					
.CardGlobalActivity {
	height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 40px;
}


.colsimple{
	width: 23%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217 217 217);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 400ms;
	height: 100%;
	}


.ImageActivity{
	height: 100%;
    object-fit: cover;
}

.ActivityTitle{
	padding: 15px;

    margin: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
}

.Card2Activity {
    width: 23%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217 217 217);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
   	height: 55%;
	transition: 400ms;
}

.Card3Activity {
    width: 23%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217 217 217);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  	height: 38%;
	transition: 400ms;
}

/* Format mobile 768px */
@media screen and (max-width: 767px) {
.activitycontain{
	margin : auto ;
}

.BigTitleActivity{
	margin-left : 20px;
	margin-top: 0;
}

.CardGlobalActivity {
	height: max-content ;
	gap: 20px;
	padding-right : 20px ;
	padding-left: 20px;
}


.colsimple {
	height: 220px ;
	width : 100%;
}

	
.Card2Activity {
	height: 220px ;
	width : 100%;
}



.Card3Activity {
	height: 220px ;
	width : 100%;
}

.ActivityTitle{
	font-size: 14px;
}
}

/* Format tablette 992px */
@media all and (min-width : 768px) and (max-width: 991px)
 {
.ActivityTitle{
	font-size: 14px;
				}
.CardGlobalActivity {
	margin-left : 20px; 
	margin-right: 20px ;
}

.BigTitleActivity{
	margin-left : 20px;	
}	
}


/*footer*/

.footer{
	width: 100%;
	margin-top : 30px; 
	background-color: #F2F2F2;
	}

.contentfooter {
	display: flex; 
    box-sizing: border-box;
	padding-top : 20px;	
	width: 100%;
}
		
.footerPropos{
	display: flex;
	flex-direction: column;
	width: 33%;
  	
}

.footerHosting{
	display: flex;
	flex-direction: column;
	width: 33%;
    
}

.footerAssistance{
	display: flex;
	flex-direction: column;
	width: 33%;
    
}

footer ul{
	font-size: 18px;
	margin-top : 20px;
	padding-left : 0;
	
}

footer li {
	list-style: none;
	padding-bottom : 10px;
	font-size: 14px;
	
	
}

.titleBloc{
	padding-top : 20px;
	margin : 0;
}

footer li:hover{
	font-weight: bold;
}

/* Format tel portable 768px */
@media screen and (max-width: 767px) {

.contentfooter {
	flex-direction: column;
	margin-left : 20px;
}
.footerPropos{
	width: 100%;
}
.footerHosting{
	width: 100%;
}

.footerAssistance{
	width: 100%;
}
}
/* Format tablette 992px */
@media all and (min-width : 768px) and (max-width: 991px)
 {

.contentfooter {
	margin-left : 20px;
}
}







								
					
				
						

