
/*General*/
body {
	font-family: "Raleway", "Sans serif";
	margin: 0 auto;
	}

  a {
	text-decoration:none;
	color: inherit;
}


  
header, nav, section, article, aside, footer {
	display: flex;
	flex-wrap: wrap;
  }

  main{
	box-sizing: border-box;
	margin : 0 auto;
	max-width : 1440px;
			}

a:-webkit-any-link {
	cursor: pointer;
}

a:hover {
transform: scale(1.05);
}

h1, h2, h3 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}


p {
	font-size: 16px;
}		

/*Header style*/
.headermenu {
	display: flex;
	justify-content: space-between;
	margin : auto;
	max-width : 1440px;
	
	}


.logo {
	height : 70px;
	}	

.blue {
	border-color: #0065FC;
}
	
.big_title{
	margin-top: 60px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
	
}

nav li {
	list-style: none;
	padding-left: 70px;
	
}
nav li:hover
{
   text-decoration: overline;
   color: blue ;
}




/* search section*/

form {
	display: flex;
	align-items: stretch;
	box-sizing: border-box;
	
	}

form span{
	display: flex;
	background-color: #F2F2F2;
	border-radius: 17px 0px 0px 17px;
	padding : 18px;
	box-sizing: border-box;
	margin-top: 8px;
	
	}

form [type=text]{ 
		border: 1px solid #f2f2f2;
		border-left: 0;
		border-right: 0;
	   font-weight: bold;
		margin-top: 8px;
	   box-sizing: border-box;
	   padding-left: 15px;
	   color:  #000000;
	}

	form [type=submit] {
		border: none;
		background-color: #0065FC;
		border-radius: 0px 17px 17px 0px;
		color: #fff;
		font-weight:bold;
		padding: 15px 17px 15px 17px;
				margin-top:	8px;
		box-sizing:	border-box;
		cursor: pointer;
	}

	/*section filters*/

	.filter {
    display: flex;
    margin-top: 20px;
    border: none;
    box-sizing:	border-box;
    flex-wrap: wrap;
	align-items: baseline;
	font-weight:bold;
}

.filter span{
	display: flex;
	background: #DEEBFF;
	border-radius: 100%;
	padding: 15px ;
	font-size: 16px;
	color: #0065FC;
	box-sizing: border-box;
	margin:-15px;
	margin-right: 10px;
	
	}

.element{
	display : flex;
	margin-left : 40px;
		border-radius: 50px 50px 50px 50px;
	padding: 15px;
		color:Black;
		border: 1px solid #f2f2f2;
	box-sizing: border-box;
	
}

.element:hover
{text-decoration: none;
		color:#0065FC;
		transform: scale(1.015);
		cursor: pointer;
}
 

.fa-info{
	display: flex;
	color: #0065FC;
	border-radius: 100%;
	padding: 5px 8px 4px 8px;
	background: transparent;
	border: 2px solid #F2F2F2;
	box-sizing: border-box;
	font-size: 12px;
	margin-right: 10px;
	margin-top : 20px;
	margin-bottom : 20px;
	}


/*hebergements*/


.Global{
display: flex;
flex-direction: row;	
gap : 50px;
}	

/*Hosting*/

.Hostingcontain{
	display: flex;
	background-color: #F2F2F2;
	flex-direction: column;
	width: 65%;
	border-radius: 15px;
		}

.BigTitleHosting{
			margin : 0;
			padding-top : 40px;
			padding-left: 38px;
			}
.CardGlobalHosting {
	display: flex;	
	flex-direction: row;		
	flex-wrap: wrap;
	justify-content: space-between;
	padding:40px 50px 50px 50px;
		gap : 20px;
	align-items: stretch;
}	

.CardHosting {
	display: flex;
	background-color: white;	
	padding : 6px;
	border-radius: 15px ;
	flex-direction : column ;
	box-shadow: 0 0 16px #0000002e;
	transition: 400ms;
	width : 240px;	
		 }

 

.ImageHosting{
	display: flex;
	border-radius: 15px 15px 0px 0px;
	object-fit: cover;
	width: 100%;
   	margin : 0;
	height: 120px;
	max-height : 120px;
}


	
.HostingTitle{
	padding-top : 10px ;
			padding-left : 6px; 
			margin : 0;
		}	

.HostingDescription{
	padding-left : 6px;
	padding-top : 10px;
	margin : 0;
}
.HostingStar{
	padding-left : 6px;
	padding-bottom : 12px;
	padding-top : 5px;
}

.HostingStarIcon[data-active=true] {
    color: #0065FC;
}

.HostingStarIcon[data-active=false] {
    color: #d9d9d9;
}

.plus{
	font-weight: bold;
	padding-top : 20px;
	font-size:18px;
	
}

/*popular*/

.popular{
	display: flex;
	background-color: #F2F2F2;
	border-radius: 15px ;
	flex-direction: column;	
	width: 33%;										
					}
.BigtitlePopular{
	margin : 0;
	justify-content: space-between;
	padding-top : 40px;
	padding-left : 40px;
	padding-right: 40px;
	display: flex;
				}

			
.CardGlobalPopular {			
display: flex;			
border-radius: 15px ;
padding:40px 50px 50px 50px;
gap : 40px;
flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	align-items: stretch;
	
	height: 100%;
		}
			

.Cardpopular {
display: flex;
background-color: white;	
padding : 6px;
border-radius: 15px ;
box-sizing: border-box;
box-shadow: 0 0 16px #0000002e;
transition: 400ms;
flex-direction: row;
height: 30%;
width: 100%;


}

.ImagePopular {
	border-radius: 15px 0 0 15px ; 
	width: 35%;
	min-width: 35%;
	height: 100%;
	object-fit: cover;
	
	}

.ContentPopular	{
	display: flex;
    flex-direction: column;
	padding: 10px 15px 5px 15px ;
	

}


.PopularTitle{
	margin: 5px 0;
	font-weight: bold;
	}	

.PopularDescription{
	display: flex;
	margin: 5px 0;
        flex: 2;
}

.HostingStar2{
	display: flex;
	padding-left : 6px;
	padding-bottom : 12px;
	
}

/*activites*/

.activitycontain{
	display: flex;
	background-color: white;
	flex-direction: column;
	}

	
.BigTitleActivity{
	margin : 0;
	margin-top : 40px;	
	padding-bottom : 30px;	
		}	
					
.CardGlobalActivity {
	height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 40px;
}


.colsimple{
	width: 23%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217 217 217);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 400ms;
	height: 100%;
	}


.ImageActivity{
	    height: 100%;
     object-fit: cover;
}

.ActivityTitle{
	padding: 15px;
    font-size: 18px;
    margin: 0;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0px;
}

.Card2Activity {
    width: 23%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217 217 217);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
   	height: 55%;
	   transition: 400ms;
}

.Card3Activity {
    width: 23%;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgb(217 217 217);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
  	height: 38%;
	  transition: 400ms;
}


/*footer*/

.footer{
	margin-top : 50px; 
	background-color: #F2F2F2;
	box-sizing: border-box ;
		}

	.contentfooter {
		display: flex;
		flex-direction: row;
				margin-left : 200px;
				justify-content: space-between;
 		width : 60% ;					
	}
		
.footerPropos{
	display : flex ;
	flex-direction: column;
		margin : 20px;
		
	}

.footerHosting{
	display : flex ;
	flex-direction: column;
	
		margin : 20px;
}

.footerAssistance{
	display : flex ;
	flex-direction: column;

	margin : 20px;
}

footer ul{
	padding-left : 0;
	font-size: 18px;
	margin-top : 20px;
}

footer li {
	list-style: none;
	padding-bottom : 10px;
}

.titleBloc{
	padding-top : 20px;
	margin : 0;
}

footer li:hover{
	font-weight: bold;
}





								
					
				
						

